{
  "semi": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": ["**/*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
